---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Neon Auth + Astro Demo">
  <h1>Neon Auth + Astro</h1>
  <p>A reference demo showing Neon Auth and Neon DB with Astro.</p>
  <p><a href="/login">Log in</a> or <a href="/signup">sign up</a> to get started.</p>
</Layout>
